/Wav2Lip/venv
/Wav2Lip/__pycache__/

/frontend/build
/frontend/node_modules


/backend/.env
/backend/node_modules
/backend/output.wav

/livekit
/agents-playground


/Wav2Lip/.env
/Wav2Lip/venv
/agents-playground

/livekit